services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
      args:
      - PORT=5175
    ports:
      - "5175:5175"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    env_file:
      - ./frontend/.env.dev-local
    networks:
      - cle_network

  backend:
    build:
      context: ./backend
      target: dev
      dockerfile: Dockerfile
      args:
      - PORT=5000
    restart: unless-stopped

    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
      - node_modules:/app/node_modules
    env_file:
      - ./backend/.env.local
    networks:
      - cle_network

networks:
  cle_network:
    driver: bridge
volumes:
  node_modules:
